<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	작성자 : 박성준
	작성일 : 2016-12-23
	목  적 : 자유게시판 이용시 사용
 -->
<mapper namespace="kr.or.com.FreeBoard.FreeBoardDAO">

	<select id="selectFreeBoard" resultType="kr.or.com.FreeBoard.FreeBoardDTO">
		select bno, title, content, writer, regdate, viewcnt from tbl_Free_Board
		order by bno desc
	</select>
	
	 <insert id="FreeBoardWrite" parameterType="kr.or.com.FreeBoard.FreeBoardDTO">
		insert into tbl_Free_Board(bno, title, content, writer, regdate, viewcnt) 
		values(FreeBoard_seq_bno.nextval, #{title}, #{content}, #{writer}, #{regdate}, 0)
	 </insert>

	<!--상세보기-->
	 <select id="FreeBoardDetail" resultType="kr.or.com.FreeBoard.FreeBoardDTO">
	 	select bno, title, content, writer, regdate, viewcnt from tbl_Free_Board
	 	where bno = #{bno}
	 </select>


	<!--조회수-->
	<update id="updateCnt" parameterType="String">
	    update tbl_Free_Board set viewcnt = NVL(viewcnt, 0) + 1 
	    where bno = #{bno}
	</update>

</mapper>	 
 