<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	작성자 : 박성준
	작성일 : 2016-12-22
	목  적 : 회원 가입 시 사용
 -->

 <mapper namespace="kr.or.com.Member.MemberDAO">
    <!-- 로그인 -->
 	<select id="login" resultType="kr.or.com.Member.MemberDTO" parameterType="kr.or.com.Member.MemberDTO">
 		select id, pw from member where id = #{id} and pw = #{pw}
 	</select>
 	
 	<!-- 회원가입 -->
 	<insert id="AddMember" parameterType="kr.or.com.Member.MemberDTO">
 		insert into member(id, pw, birth, name, gender) values(#{id}, #{pw}, #{birth}, #{name}, #{gender})
 	</insert>
 	
 	<!-- 회원가입시 아이디 중복검사 -->
 	<select id="checkId" resultType="String">
 	   select id from member where id=#{id}
 	</select>
 	
 	<!--id별 관심사   -->
     <select id="selectInterest" resultType="kr.or.com.Member.MemberDTO">
        select interest from member where id=#{id}
     </select>
 	
 </mapper>