<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	작성자 : 박성준
	작성일 : 2016-12-26
	목  적 : 공지사항
 -->
 
 <mapper namespace="kr.or.com.Notice.NoticeDAO">
 	
 	<select id="selectAllNotice_List" resultType="kr.or.com.Notice.NoticeDTO">
 		select * from tbl_Notice_Board 
 	</select>
 	
 </mapper>